a:visited{
  color: purple;
}

.table{
  margin-bottom: 0;
}

.shadow-border {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
} 

#mapid{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


/*Bootstrap over-ride*/
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #cccccc;
}

.table > tbody > tr > th{
  font-weight: normal;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
  
.loader-wrapper{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      z-index: 2;
}
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
    0% {
      transform: rotate(0deg);
  }
  
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
  }
}